* {
  box-sizing: border-box;
}

h1{
	color:black;
	text-align:center;
	size:75%;
	font-family:Comic Sans MS, cursive, sans-serif;
}
.row {
  width: 100%;
}
.f{{
  border: 1px solid black;
 ;
  background-color: grey;
  width: 90%;
  height: 150px;
  margin:5px;
  
  font-family: Comic Sans MS, cursive, sans-serif;
  font-size:35px;
  color: black;
  float:right;
}
@media (min-width: 992px) {
  
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 33.33%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 33.33%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
 
}







.g{

background-color:green;
border:1px solid black;
color:yellow;
}
.b
{
width:100px;
height:50px;
background-color:brown;
border:1px solid black;
float :right;
color:black;
}
.r
{width:100px;
height:100px;
background-color:red;
float:right;
}